body{
  background-color: #DC143C;
}

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

i, span, .p-api{
  color: #DC143C;

}

.square-form{
  padding: 50px;
}

.margin-t{
  margin-top: 100px;
}

* {
  font-family: 'Luckiest Guy';
}

label, p.fwb{
}
